body {width: 800px;
        background-color: beige; 
        margin: 20px auto; 
         padding: 20px 20px 20px 20px;
        border: 5px solid rgb(146, 45, 8);
    border-style: dashed;}



img {display: block;
    margin: 0 auto;
    width: 600px;}
html{background-color: rgb(2, 14, 76);}

h1{text-align: center;
color:rgb(146, 45, 8);}
h3{text-align: center;
color: rgb(146, 45, 8);
margin: 35px auto;}
h5{text-align: center;
color:rgba(210, 180, 140, 0.123);
font-size: 12px;}
